<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>登录成功</title>
    <link rel="stylesheet" href="/uaa/css/reset.css"/>
    <link rel="stylesheet" href="/uaa/css/common.css"/>
    <link rel="stylesheet" href="/uaa/css/font-awesome.min.css"/>
</head>
<body>
<div class="wrap login_wrap">
    <div class="content">
        <div class="logo"></div>
        <div class="login_box">
            login successful <br/> :D
        </div>
    </div>
</div>
<script type="text/javascript" src="/uaa/js/jquery.min.js"></script>
<script type="text/javascript" src="/uaa/js/common.js"></script>
</body>
</html>
